<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="text-center">Welcome <span>{{user.first_name}}!!!</span></h1>
        <p class="text-center">Here is a list of all quotes!!!</p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title:</th>
                    <th>User:</th>
                </tr>
            </thead>
            <tbody>
                {% for quote in quotes %}
                <tr>
                    <td>{{ quote.title }}</td>
                    <td>{{ quote.quote }}</td>
                    <td> 
                    {% if quote.user_id == session.user_id %}
                        <a href="/edit/quote/{{quote.id}}">Edit</a>
                        <a href="/destroy/quote/{{quote.id}}">Delete</a>
                    {% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>



        <div class="bottomtext">
                <a href="/new/quote" class="btn btn-info">Add a new quote</a>
                <a href="/personal/dashboard" class="btn btn-info">Personal Dashboard</a>
                <a href="/logout" class="btn btn-info">Logout</a>
        </div>
        
</body>
</html>